<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>OttoPi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devicewidth,initial-scale=1,maximum-scale=3">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript">
      function post(val) {
	  var data = {"cmd": val};
	  $.post("/action", data);
      }
      function speak() {
	  var data = {"msg": document.f1.msg.value};
	  $.post("/speak", data);
      }
      function speak2() {
	  var obj = document.f0.sentence;
	  var idx = obj.selectedIndex;
	  if (idx != 0) {
	      var val = obj.options[idx].value;
	      document.f1.msg.value = val
	      var data = {"msg": val};
	      $.post("/speak", data);
	  }
      }
      function clear_msg() {
	  document.f1.msg.value = "";
      }
      function speech(val) {
	  var data = {"onoff": val};
	  $.post("/speech", data);
      }
      function music(val) {
	  var data = {"onoff": val};
	  $.post("/music", data);
      }
    </script>
  </head>
  <body>
    {% if ipaddr %}
    <p align="right">[ {{ipaddr}} ]</p>
      {% if video == "on" %}
      <div align="center">
        <img src="http://{{ipaddr}}:9000/?action=streaming", width="80%">
      </div>
      {% endif %}
    {% endif %}
    <div align="center">
      <table width="90%">
	<tbody>
	  <tr>
	    <td align="left" nowrap>
              <input type="radio" name="enable" value="on"
                     onClick="post(':auto_enable');">
	      <input type="button" value="AUTO" onClick="post(':auto_on');">
              <br />
              <input type="radio" name="enable" value="off" checked="checked"
                     onclick="post(':auto_disable');">
	      Manual
	    </td>
	    <td align="right">
	      <input type="button" value=" !! "  onClick="post(':surprised');">
	      <input type="button" value="happy" onClick="post(':happy');">
	      <input type="button" value="Hi !"  onClick="post(':hi_right');">
	      <input type="button" value="Bye"   onClick="post(':bye_left');">
	      <input type="button" value="ojigi" onClick="post(':ojigi');">
	      <input type="button" value="ojigi2" onClick="post(':ojigi2');">
	    </td>
	  </tr>
	</tbody>
      </table>
      <hr />
      <table>
	<tbody>
	  <tr>
	    <td></td>
	    <td></td>
	    <td align="center">
	      <input type="button" value="suriashi" onClick="post(':suriashi_fwd');">
	    </td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>
	      <input type="image" src="/static/images/button_up.png"
		     width="60px" onClick="post(':left_forward');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_up.png"
		     width="60px" onClick="post(':forward');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_up.png"
		     width="60px" onClick="post(':right_forward');">
	    </td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>
	      <input type="image" src="/static/images/button_left.png"
		     width="60px" onClick="post(':slide_left');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_left.png"
		     width="60px" onClick="post(':turn_left');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_red1.png"
		     width="60px"
		     onClick="post(':auto_off');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_right.png"
		     width="60px" onClick="post(':turn_right');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_right.png"
		     width="60px" onClick="post(':slide_right');">
	    </td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>
	      <input type="image" src="/static/images/button_down.png"
		     width="60px" onClick="post(':left_backward');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_down.png"
		     width="60px" onClick="post(':backward');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_down.png"
		     width="60px" onClick="post(':right_backward');">
	    </td>
	    <td></td>
	  </tr>
	</tbody>
      </table>
      <hr />
      <div align="left">
	<strong>【おしゃべり】</strong>
	<form action="./" method="POST" name="f0">
	  定型文: 
	  <select id="sentence" onChange="speak2()">
	    <option value=""></option>
	    <option value="こんにちは">こんにちは</option>
	    <option value="ちーーっす">ちーっす！</option>
	    <option value="お元気ですか">お元気ですか</option>
	    <option value="さようなら">さようなら</option>
	    <option value="私は">私は</option>
	    <option value="二そくほこうロボット">二足歩行ロボット</option>
	    <option value="オットーパイと申します">OttoPiと申します</option>
	  </select>
	</form>
	
	<form action="./" method="POST" name="f1">
	  <input type="text" name="msg" value="">
	  <input type="button" value="speak" onClick="speak()">
	  <input type="button" value="clear" onClick="clear_msg()">
	</form>
	
	自動自己紹介:
	<input type="button" value="ON" onClick="speech('on');">
	<input type="button" value="OFF" onClick="speech('off');">

	,
	
	music:
	<input type="button" value="ON" onClick="music('on');">
	<input type="button" value="OFF" onClick="music('off');">
	
      </div>
      
      <hr />
      個別モーター
      <table>
	<tbody>
	  <tr>
	    <td>
	      <input type="image" src="/static/images/button_up.png"
		     width="40px" onClick="post(':move_down0');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_left.png"
		     width="40px" onClick="post(':move_up1');">
	    </td>
	    <td align="center">
	      HOME
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_right.png"
		     width="40px" onClick="post(':move_down2');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_up.png"
		     width="40px " onClick="post(':move_up3');">
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <input type="image" src="/static/images/button_down.png"
		     width="40px" onClick="post(':move_up0');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_right.png"
		     width="40px" onClick="post(':move_down1');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_blue2.png"
		     width="40px" onClick="post(':home');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_left.png"
		     width="40px" onClick="post(':move_up2');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_down.png"
		     width="40px" onClick="post(':move_down3');">
	    </td>
	  </tr>
	</tbody>
      </table>
      <hr />
      <hr />
      (調整用)
      <table>
	<tbody>
	  <tr>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_up.png"
		     width="30px" onClick="post(':home_down0');">
	      &nbsp;
	    </td>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_left.png"
		     width="30px" onClick="post(':home_up1');">
	      &nbsp;
	    </td>
	    <td>
	    </td>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_right.png"
		     width="30px" onClick="post(':home_down2');">
	      &nbsp;
	    </td>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_up.png"
		     width="30px " onClick="post(':home_up3');">
	      &nbsp;
	    </td>
	  </tr>
	  <tr>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_down.png"
		     width="30px" onClick="post(':home_up0');">
	      &nbsp;
	    </td>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_right.png"
		     width="30px" onClick="post(':home_down1');">
	      &nbsp;
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_blue2.png"
		     width="30px" onClick="post(':home');">
	    </td>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_left.png"
		     width="30px" onClick="post(':home_up2');">
	      &nbsp;
	    </td>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_down.png"
		     width="30px" onClick="post(':home_down3');">
	      &nbsp;
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </body>
</html>
