<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>OttoPi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devicewidth,initial-scale=1,maximum-scale=3">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript">
      function post(val) {
	  var data = {"cmd": val};
	  $.post("/action", data);
      }
      function speak() {
	  var data = {"msg": document.f1.msg.value};
	  $.post("/speak", data);
      }
      function clear_msg() {
	  document.f1.msg.value = "";
      }
      function speech(val) {
	  var data = {"onoff": val};
	  $.post("/speech", data)
      }
    </script>
  </head>
  <body>
    {% if ipaddr %}
    <div align="center">
      {% if video == "on" %}
      <img src="http://{{ipaddr}}:9000/?action=streaming", width="80%">
      {% else %}
      <h3>{{ipaddr}}</h3>
      {% endif %}
    </div>
    {% endif %}
    <hr />
    <div align="center">
      <table width="90%">
	<tbody>
	  <tr>
	    <td align="left">
	      <input type="button" value="AUTO" onClick="post(':auto_on');">
	    </td>
	    <td align="right">
	      <input type="button" value="happy" onClick="post(':happy');">
	      <input type="button" value="ojigi" onClick="post(':ojigi');">
	    </td>
	  </tr>
	</tbody>
      </table>
      <hr />
      <table>
	<tbody>
	  <tr>
	    <td></td>
	    <td>
	      <input type="image" src="/static/images/button_up.png"
		     width="60px" onClick="post(':left_forward');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_up.png"
		     width="60px" onClick="post(':forward');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_up.png"
		     width="60px" onClick="post(':right_forward');">
	    </td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>
	      <input type="image" src="/static/images/button_left.png"
		     width="60px" onClick="post(':slide_left');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_left.png"
		     width="60px" onClick="post(':turn_left');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_red1.png"
		     width="60px"
		     onClick="post(':auto_off');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_right.png"
		     width="60px" onClick="post(':turn_right');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_right.png"
		     width="60px" onClick="post(':slide_right');">
	    </td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>
	      <input type="image" src="/static/images/button_down.png"
		     width="60px" onClick="post(':left_backward');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_down.png"
		     width="60px" onClick="post(':backward');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_down.png"
		     width="60px" onClick="post(':right_backward');">
	    </td>
	    <td></td>
	  </tr>
	</tbody>
      </table>
      <hr />
      <form action="./" method="POST" name="f1">
	<input type="text" name="msg" value="">
	<input type="button" value="speak" onClick="speak()">
	<input type="button" value="clear" onClick="clear_msg()">
      </form>
      <hr />
      個別モーター
      <table>
	<tbody>
	  <tr>
	    <td>
	      <input type="image" src="/static/images/button_up.png"
		     width="40px" onClick="post(':move_down0');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_left.png"
		     width="40px" onClick="post(':move_up1');">
	    </td>
	    <td align="center">
	      HOME
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_right.png"
		     width="40px" onClick="post(':move_down2');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_up.png"
		     width="40px " onClick="post(':move_up3');">
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <input type="image" src="/static/images/button_down.png"
		     width="40px" onClick="post(':move_up0');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_right.png"
		     width="40px" onClick="post(':move_down1');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_blue2.png"
		     width="40px" onClick="post(':home');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_left.png"
		     width="40px" onClick="post(':move_up2');">
	    </td>
	    <td>
	      <input type="image" src="/static/images/button_down.png"
		     width="40px" onClick="post(':move_down3');">
	    </td>
	  </tr>
	</tbody>
      </table>
      <hr />
      調整用
      <table>
	<tbody>
	  <tr>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_up.png"
		     width="30px" onClick="post(':home_down0');">
	      &nbsp;
	    </td>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_left.png"
		     width="30px" onClick="post(':home_up1');">
	      &nbsp;
	    </td>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_right.png"
		     width="30px" onClick="post(':home_down2');">
	      &nbsp;
	    </td>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_up.png"
		     width="30px " onClick="post(':home_up3');">
	      &nbsp;
	    </td>
	  </tr>
	  <tr>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_down.png"
		     width="30px" onClick="post(':home_up0');">
	      &nbsp;
	    </td>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_right.png"
		     width="30px" onClick="post(':home_down1');">
	      &nbsp;
	    </td>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_left.png"
		     width="30px" onClick="post(':home_up2');">
	      &nbsp;
	    </td>
	    <td>
	      &nbsp;
	      <input type="image" src="/static/images/button_down.png"
		     width="30px" onClick="post(':home_down3');">
	      &nbsp;
	    </td>
	  </tr>
	</tbody>
      </table>
      <hr />
      <table>
	<tbody>
	  <tr>
	    <td align="left">
	      Speech
	      <input type="button" value="ON" onClick="speech('on');">
	      <input type="button" value="OFF" onClick="speech('off');">
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
    <hr />
  </body>
</html>
